/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
}

/* Navbar */
.navbar {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card Styling */
.card {
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

/* Button Styles */
button {
    font-size: 16px;
    font-weight: bold;
}

/* Input Fields */
input {
    font-size: 16px;
}

/* Image */
img {
    max-width: 10%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
